body{
  font-family: 'Dancing Script', cursive;
  background-color: #02010a;
  }
header{
  animation: slidein 1s linear;
}
img{
  box-shadow: 2px 2px 2px #02010a;
}
a{
  color: white;
}
a:hover{
  color: black;
}
footer{
  background-color: #C6d5c5;
  border-radius: 0 0 10px 10px;
}
.contenido{
  width: 900px;
	margin: 0 auto;
  min-height: 200px;
}
.cabecera{
  background: #5b7989;
  border-radius: 10px 10px 0 0;
  color: white;
  text-shadow: 2px 2px 2px #02010a;
  padding: 15px 0;
  display: flex;
  flex-flow: row wrap;
}
.logo{
  width: 70%;
  text-indent: 30px;
}
.menu{
  padding-top:25px;
  width: 30%;
  font-size: 18pt;
}
section{
  background-color: #82c3a6;
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0 auto;
}
.imagenes{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  width: 100%;
}
.imagenes div{
width: 33%;
}
.imagenes div img{
width: 90%;
display: block;
margin: auto;
margin-top: 10px;
}
.footer{
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-around;
  font-size: 15px;
  margin-bottom: 15px;
  padding-bottom: 15px;
}
.contacto a{
 color: black;
}
.contacto p{
  padding: 5px;
}
.contacto #mail:hover{
  color: blue;
}
.redes{
  display: flex;
  flex-flow: column nowrap;
  margin-bottom: 1px;
}
.footer h1{
  margin-bottom: -1px;
}
.redes img{
  width: 25px;
  height: 25px;
}
.redes label{
pad
}
.iconos{
  margin-top: 1px;
}
.imagen1{
  filter: blur(10px);
}
.imagen2, .imagen4, .imagen6{
  filter: grayscale(100%);
}
.imagen3{
  filter: sepia(100%);
}
@media screen and (max-width: 899px){
  .contenido{
    width: 100%;
  }
  .cabecera{
    width: 100% !important;
    display: flex;
    flex-direction: column;
  }
  .logo{
    width: 100% !important;
    float: none;
    order: 1;
  }
  .logo h1 {
    text-align: center;
  }
  .menu{
    width: 100% !important;
    float: none;
    order: 2;
    text-align: center;
  }
  .imagenes{
    width: 100% !important;
    flex-direction: column;
  }
  .imagen1{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    order: 1;
  }
  .imagen2{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    order: 2;
  }
  .imagen3{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    order: 3;
  }
  .imagen4{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    order: 4;
  }
  .imagen5{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    order: 5;
  }
  .imagen6{
    margin-left: auto;
    margin-right: auto;
    width: 100% !important;
    order: 6;
  }
  .footer{
    flex-direction: column;
    margin-left: 15px;
  }
  .contacto{
    order:1;
  }
  .politicas{
    order:2;
  }
  .redes{
    order:3;
  }
  .derechos{
    order:4;
  }
}
@keyframes slidein {
  0%{
    margin-top: 150%;
  }
  60%{
    margin-top: -5%;
  }
  100%{
    0%
  }
}
